.fresh {
  background-image: url(/assets/images/BG-Strawberry.png);
  background-size: cover;
  width: 100%;
  height: 750px;
  overflow-x: hidden;
  padding: 50px 150px;

  &__top {
    display: flex;
    justify-content: space-between;
  }
  &__log {
    font-family: $base-font-log;
    font-size: 50px;
    font-weight: 400;
  }
  &__list {
    width: 550px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    font-family: $base-font;
    text-transform: uppercase;
    justify-content: space-between;
  }
  @media screen and (max-width: 600px) {
    .fresh__list {
      @include flex-col(center, center);
    }
  }
  &__text {
    max-width: 370px;
  }
  &__text-title {
    font-size: 60px;
    font-weight: 900;
    font-family: "Raleway";
    margin-top: 150px;
    margin-bottom: 35px;
  }
  &__text-description {
    font-family: $base-font;
    font-size: 17px;
    font-weight: 300;
    line-height: 27px;
  }
  &__text-buttom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    font-family: $base-font;
    font-size: 20px;
    font-weight: 300;
    width: 200px;
    height: 55px;
    background-color: $orange;
    color: $white;
    text-transform: uppercase;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  }
  &__text-buttom:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
  }
  &__nav:hover {
    transition: 0.5s;
    border-top: 3px solid $orange;
  }
  &__icon {
    display: flex;
    justify-content: center;
    margin-top: 5%;
  }
  &__scroll {
    width: 24px;
    height: 40px;
    /*position: absolute;
    z-index: 5;
    bottom: 10%;
    right: auto;
    left: auto;*/
  }
  &__color {
    color: $black;
  }
}
*a:visited {
  color: $black;
}
@media screen and (max-width: 800px) {
  .fresh__icon {
    margin-top: 50px;
  }
}
@media screen and (max-width: 470px) {
  .fresh {
    padding: 50px 50px;
  }
}
@media screen and (max-width: 1000px) {
  .fresh {
    padding: 10px 50px;
    /* &__list {
      position: absolute;
      z-index: 1;
      top: 10px;
      left: 50px;
      margin-bottom: 50px;
    }*/
  }
  @media screen and (max-width: 600px) {
    .fresh__top {
      visibility: hidden;
    }
  }
}
