//COLORS
$tomato-bg: #70bfff;
$white: #ffffff;
$black: #262626;
$gallery-bg: #ffe92f;
$gallery-buttom: #5585a2;
$blueberry-buttom: #96b92c;
$orange: #ff6033;
$blue-white: #00c4c4;
$active-entry-field-color: #355b82;
$footer-text-color: #b9b9b9;
$footer-bg-color: #262626;
$entry-field-color: rgba(84, 243, 243, 0.5);
$text-color: #ffffff;
$tomato-bg: #70bfff;
$gallery-bg: #ffe92f;
$gallery-buttom: #5585a2;
$blueberry-buttom: #96b92c;
$BG-COLOR: #b07cf7;
$BUTTOM-COLOR: #f72b3b;
$TEXT-COLOR: white;

//FONTS
$base-font: "Raleway", sans-serif;
$base-font-log: "Pacifico", cursive;
